
    <div class="row">   
        <div class='col-md-5'>
            <div class="rsp-nye-img publicaciones-img">
                <a href=##url><img class="publicaciones-img" src=##feature_image alt="nye"></a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="rsp-res-blk rsp-nye-desc">
                <a href=##url><h6 class="ft-bold publicaciones-tit">##title </h6></a>
                <div class="rsp-pro-det">
                    <div class="pd-img">
                    <img src=##primary_author_avater alt=##primary_author_name>
                    </div>
                    <div class="pd-desc">
                        <div class="au"><i class="fas fa-user"></i><a href=##primary_author_url>Autor: ##primary_author_name</a>  </div>
                        <div class="tg"><i class="fas fa-tags"></i> ##primary_tag_name </div>
                        <div class="cl"><i class="fas fa-calendar-alt"></i> {{ date }} </div>
                    </div>
                </div>
                <p class="publicaciones-det">
                    ##excerpt
                </p>
                <div class="nye-link-blk">
                    <div class="ny-btn">
                        <a href=##url class="btn btn-rsp ft-bold">
                            leer mas <i class="fal fa-long-arrow-right pl-2"></i>
                        </a>
                    </div>
                    <div class="ny-link">
                        <ul class="so-links">
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/MTCPERUOFICIAL" target="_blank"><i class="fas fa-share-alt"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
            
    </div>
