<!DOCTYPE html>
<html lang="{{settings.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/all.css" type="text/css">
    <link rel="stylesheet" href="/css/owl-carousel/owl.carousel.min.css"  type="text/css">
    <link rel="stylesheet" href="/css/owl-carousel/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-media.css">
    <script src="https://kit.fontawesome.com/06fd3ecd3e.js" crossorigin="anonymous"></script>
    <link rel="icon" type="/img/png" href="{{settings.icon}}">
    <title>Observatorio Nacional de Seguridad Vial</title>
    
</head>
<body>
    {{#if enabledNavigation}}
        {{> default/navigation}}
    {{/if}}
    {{{body}}}
    {{#if enabledFooter}}
        {{> default/footer}}
    {{/if}}
    
    <!--Scripts -->
    <!--<script src="/js/ghost-search/dist/ghost-finder.js"></script>-->
    <!--Facebookk-->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v10.0&appId=432011537895587&autoLogAppEvents=1" nonce="jzJ5ofo4"></script>

    <!-- jquery  -->
    <script src="/js/jquery-3.3.1.js"></script>
    <!-- pooper js for bootstrap dependecy  -->
    <script src="/js/popper.min.js"></script>
    <!-- pooper js for bootstrap dependecy  -->
    <script src="/js/bootstrap.js"></script>
    <!-- Custom scripts -->
    <script src="/js/owl-carousel/owl.carousel.min.js"></script>
    <!-- Regiones -->
    <script src="/js/regiones.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="/js/mapa.js"></script>
    <!-- FIN DE Regiones -->
    <!--Archivo de configuración específica -->
    <script src="/js/main.js"></script>  
</body>
</html>
