@media screen and (min-width: 2388px) {
    .disclaimer{
        height: 20px;
      }
    
}
@media screen and (min-width: 1800px) and (max-width: 2387px) {
    .disclaimer{
        height: 20px;
      }
   
}
@media screen and (min-width: 1500px) and (max-width: 1799px){
    .disclaimer{
        height: 20px;
      }
    
}
@media screen and (min-width: 1440px) and (max-width: 1499px) {
    .disclaimer{
        height: 20px;
      }
    
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
    .disclaimer{
        height: 20px;
      }
    
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
    .disclaimer{
        height: 20px;
      }
    
}

@media screen and (min-width: 1025px) and (max-width: 1279px) { 
    .disclaimer{
        height: 20px;
      }
    
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .rsp-navbar .nav-rsp .nav-link {
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        padding: 16px 15px;
        text-transform: uppercase;
        background-color: transparent;
    }
    .disclaimer{
        height: 20px;
      }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo img {
        width: 200px;
    }
    .logo-sm img {
        width: 120px;
        position: relative;
        top: 8px;
    }
    .logo-sm {
        margin-left: 200px;
        margin-top: -20px;
    }
    .navbar-brand-text {
        transform: translateX(-80px) translateY(8px);
    }
    .logo-icon-img {
        height: 42px;
    }
    .logo-text-title {
        font-size: 18px;
    }
    .logo-text-subtitle {
        font-size: 10px;
    }
    .logo-container .col-md-6:first-child {
        margin-left: -40px;
    }
    .logo-container .col-md-6:last-child {
        margin-left: 30px;
    }
    .logo-container .logo-sm {
        transform: translateX(-20px);
    }
    .logo-container .d-flex.flex-row-reverse {
        transform: translateX(-20px);
    }
    i.fal.fa-bars {
        color: #fff;
    }
    #mainNav .container {
        justify-content: center;
        padding: 10px 0 10px 0;
    }
    .rsp-ban-desc h1 {
        line-height: 24px;
        color: #1a1a1a;
        font-size: 16px !important;
    }
    .rsp-ban-desc p {
        font-size: 12px;
        line-height: 18px;
        margin: 18px 0 0 0;
    }
    .rsp-hs-ic-img img {
        width: 180px;
        height: 180px;
    }
    .rsp-title {
        font-size: 24px;
        line-height: 38px;
        margin: 0 0 20px 0;
    }
    .btn {
        padding: 11px 20px;
        font-size: 18px;
        line-height: 28px;
    }
    .rsp-res-blk {
        margin: 0 0 40px 0;
    }
    .rsp-hs-ic-sec .container:after {
        margin: 0 auto;
        width: 90%;
    }
    .rsp-hs-ic-img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .rsp-nye-img img {
        width: 100%;
    }
    .rsp-c-tab-blk {
        margin: 0 0 60px 0;
    }
    .no-4{
        height: 230px;
    }
    
}

@media screen and (max-width: 767px) {
    .logo img {
        width: 165px;
    }
    .logo-sm img {
        width: 80px;
        top: 10px;
    }
    .logo-sm {
        margin-left: 0;
        margin-top: 0;
    }
    .navbar-brand-text {
        transform: translateX(-80px) translateY(15px);
    }
    .logo-icon-img {
        height: 36px;
        margin-left: 8px;
    }
    .logo-text-title {
        font-size: 16px;
    }
    .logo-text-subtitle {
        font-size: 9px;
    }
    .logo-text {
        margin-left: 8px;
    }
    .logo-container .row .col-8 {
        flex: 0 0 65%;
        max-width: 65%;
    }
    .logo-container .row .col-4 {
        flex: 0 0 35%;
        max-width: 35%;
    }
    .logo-container .row .col-md-6:first-child {
        margin-left: 0;
        padding-left: 25px;
    }
    .logo-container .row .col-md-6:last-child {
        margin-left: 0;
        padding-right: 25px;
        padding-left: 0;
    }
    .logo-container .row .col-4 .logo-sm {
        transform: translateX(-20px);
    }
    body .logo-container .d-flex.flex-row-reverse {
        transform: translateX(-20px);
        position: static;
        justify-content: center;
        padding-right: 0;
        padding-top: 5px;
        top: 0;
    }
    .rsp-ban-desc {
        top: 0;
        position: inherit;
        padding: 40px 0;
    }
    .rsp-ban-desc h1 {
        line-height: 36px;
        font-size: 24px !important;
    }
    .rsp-hs-ic-sec {
        top: 0;
        margin-bottom: 60px;
    }
    .rsp-hs-ic-blk {
        text-align: center;
        margin: 0 0 50px 0;
    }
    .rsp-title {
        font-size: 24px;
        line-height: 36px;
    }
    .rsp-hs-ic-sec .container:after {
        bottom: 0;
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    br {
        display: none;
    }
    .vu-list-col {
        margin: 40px 0 0 0;
    }
    .rsp-res-blk {
        margin: 0 0 40px 0;
    }
    .res-btn .btn-rsp-outline {
        width: 100%;
        margin: 20px 0;
    }
    .cp {
        margin: 30px 0 0 0;
    }
    i.fal.fa-bars {
        color: #fff;
    }
    #mainNav .container {
        justify-content: center;
        padding: 10px 0 10px 0;
    }
    .rsp-nye-img img {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .so-links li {
        display: inline-flex;
        margin: 0 10px 0 0;
    }
    .so-links li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .btn {
        padding: 11px 20px;
    }
    .rsp-nye-col-sec {
        padding: 0 0 60px;
    }
    #myTab .nav-link {
        padding: 0.5rem 10px;
        font-size: 13px;
    }
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        margin-right: 2px;
    }
    .nye-link-blk .btn {
        padding: 4px 16px;
        font-size: 12px;
    }
    .conf-blk {
        padding: 50px 15px;
    }
    .rsp-c-tab-blk {
        margin: 0 0 40px 0;
    }
    .no-4{
        height: 380px;
    }
    .delete-padding{
        padding: 0px !important;
    }
}
@media screen and (max-width: 425px) {
    .no-4{
        height: 250px;
    }
    .logo-img-open-data{
        width: 135px;
    }
}