/* Henry Medina */
.idioma{
    display: block;
    width: 30px;
    height: 30px;
}
.mapa{
    display: flex;
    margin: auto;
    border: 1px solid #dee2e6;
}

#container path:hover { /* on mouse over */
    fill: #375682 !important;
  }
  
#container path.activePath { /* on click */
    fill: #375682 !important;
  }
.enlace{
    background-color: blue !important;
}
.enlace:hover{
    background-color: #ee1d27 !important;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .mapa{
        display: flex; 
        border: 1px solid  #dee2e6;
        margin: auto;
    }
    .datamaps-subunits{
        padding-top: 15px;
    }
    #container{
        height: 100%;
    }
    

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*                     */

/* FIN DE HENRY MEDINA*/
/*****************  Main CSS ******************/
/* Font Including */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto/Roboto-Regular.ttf');
    src: local('Roboto', sans-serif), url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto/Roboto-Medium.ttf');
    src: local('Roboto', sans-serif), url('../font/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../font/Roboto/Roboto-Bold.ttf');
    src: local('Roboto', sans-serif), url('../font/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}

/* End Font Including */
/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    line-height: 24px !important;
    color: #1a1a1a !important;
    background-color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End RESET CSS */

/***************** Helper Class ***********************/

/* Text color */
.text-blue {color: #0355a3;}
.text-dark {color: #000000;}
.text-yellow {color: #ffcb2b;}
.text-white {color: #ffffff;}
.text-tit-color {color: #3d3f40;}
/* End Text color */

/* Utility styles */
.full-width {width: 100% !important;}
.caps {text-transform: uppercase;}
.text-underline {text-decoration: underline;}
.text-d-none {text-decoration: none;}

.ft-bold {font-weight: 700 !important;}
.ft-s-bold {font-weight: 500 !important;}

h1 {font-size: 3rem !important;}
h2 {
    font-size: 24px;
    line-height: 34px;
}
h3 {font-weight: 500 !important;}
h4,h5,h6 {font-weight: 400 !important;}

.screen-reader-text {
    overflow: hidden;
    clip: rect(0,0,0,0);
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    word-wrap: normal!important;
    border: 0;
}
#contact-section {
    padding-top: 180px;
}

/* Utility styles */

/* Placehoder styles */
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #757575;
}
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, textarea::-moz-placeholder, input[type="password"]::-moz-placeholder {
    /* Firefox 19+ */
  color: #757575;
}
input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
    /* IE 10+ */
  color: #757575;
}
input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, textarea:-moz-placeholder, input[type="password"]:-moz-placeholder  {
    /* Firefox 18- */
  color: #757575;
}
/* End placeholder styles */

/* Placehoder styles */
input#search[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
input#search[type="text"]::-moz-placeholder {
      /* Firefox 19+ */
    color: #fff;
  }
input#search[type="text"]:-ms-input-placeholder {
      /* IE 10+ */
    color: #fff;
  }
input#search[type="text"]:-moz-placeholder {
      /* Firefox 18- */
    color: #fff;
  }
  /* End placeholder styles */

/* Display */
.dis-lg-none {
    display: none !important;
}
.dis-lg-blk {
    display: block !important;
}
/* Transition */
button, a {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
/* End Transition */

/* wrap section */

.wrap-section-lg {
    padding: 4.5rem 0;
}

/* End wrap section */
button:focus {
    outline: none;
}
.btn {
    padding: 11px 30px;
    font-size: 18px;
    line-height: 28px;
}
.btn-rsp {
    background-color: #ee1d27;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    border: 1px solid #ee1d27;
}
.btn-rsp:hover, .btn-rsp:focus {
    background-color: #ee1d27;
    color: #fff;
    border: 1px solid #ee1d27;
}
.btn-rsp-outline {
    background-color: transparent;
    color: #ee1d27;
    border-radius: 100px;
    box-shadow: none;
    border: 1px solid #ee1d27;
}
.btn-rsp-outline:hover, .btn-rsp-outline:focus {
    background-color: #ee1d27;
    color: #fff;
    border: 1px solid #ee1d27;
}
/***************** End Helper Class *******************/
/* Custom styles */
#mainNav {
    background-color: rgb(88, 88, 86);
    padding: 0;
}
.logo-sm {
    text-align: right;
}
.logo-sm img {
    width: 170px;
    position: relative;
    top: 22px;
}
.nav-rsp {
    width: 100%;
    flex: 0 0 100%;
    justify-content: center;
}
.rsp-navbar .nav-rsp .nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 16px 28px;
    text-transform: uppercase;
    background-color: transparent;
}
.rsp-navbar .nav-rsp .nav-link:hover, .rsp-navbar .nav-rsp .nav-link:focus, .rsp-navbar .nav-rsp .nav-link.active, .rsp-navbar .nav-rsp  .nav-link.nav-current { 
    background-color: #ee1d27;
}
.fixed-header .logo-container {
    display: none;
}
.fixed-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
}
.rsp-banner {
    position: relative;
    width: 100%;
    float: left;
}
.rsp-banner img { 
    width: 100%;
}
.rsp-ban-desc {
    width: 100%;
    position: absolute;
    top: 30px;
    text-align: center;
}
.rsp-ban-desc h1 {
    line-height: 54px;
    color: #1a1a1a;
}
.rsp-ban-desc p {
    font-size: 18px;
    line-height: 28px;
    margin: 18px 0 0 0;
}
.rsp-hs-ic-blk {
    text-align: center;
}
.rsp-hs-ic-blk h3 { 
    font-size: 28px;
    line-height: 38px;
    color: #424242;
}
.rsp-hs-ic-blk p { 
    font-size: 18px;
    line-height: 28px;
    color: #424242;
}
.rsp-hs-ic-img {
    width: 273px;
    margin: 0 auto;
}
.rsp-wrap {
    position: relative;
    float: left;
    width: 100%;
}
.rsp-hs-ic-sec {
    top: -90px;
}
.rsp-hs-ic-sec .container {
    position: relative;
}
.rsp-hs-ic-sec .container:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -45px;
    background-color: #919191;
}
.vu-list li {
    color: #7b7b7b;
    font-size: 14px;
    margin: 0 0 22px 0;
}
.dt-blk .fal {
    color: #ee1d27;
}
.vu-map img {
    width: 100%;
}
.vu-list {
    background-color: #f6f6f6;
    padding: 15px;
    border: 1px solid #adadad;
    height: 550px;
    overflow-y: auto;
}
.rsp-title {
    font-size: 38px;
    line-height: 48px;
    margin: 0 0 20px 0;
}
.rsp-res-sec {
    background-color: #f1f1f1;
    padding: 60px 0 60px 0;
}
.res-btn {
    text-align: right;
}
.blue-bg {
    background-color: #474d98;
}
.red-bg {
    background-color: #ea0032;
}
.dark-bg {
    background-color: #25292e;
}
.rsp-res-blk {
    background: #fff;
    padding: 5px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: rgba(0,0,0,0.1) 0 0 8px;
}
.rsp-res-img {
    position: relative;
}
.rsp-res-img img {
    width: 100%;
    border-radius: 10px;
}
.res-hg {
    position: absolute;
    display: inline-block;
    padding: 4px 20px;
    left: 0;
    border-top-left-radius: 13px;
    color: #fff;
    top: 0;
    text-transform: uppercase;
}
.rsp-res-blk p {
    padding: 8px;
}
.rsp-ult-sec {
    padding: 60px 0;
}
.rsp-vu-sec {
    padding: 0 0 60px 0;
}
footer {
    background-color: #000;
    width: 100%;
    float: left;
    padding: 60px 0 30px;
}
.cp {
    border-top: 1px solid #3b3b3b;
    padding: 15px 0 0;
}
.with-ic li {
    padding-left: 28px;
    position: relative;
    margin: 0 0 25px 0;
    font-size: 14px;
    color: #fff;
}
.menu-list li a, .ad-list li a {
    position: relative;
    margin: 0 0 15px 0;
    font-size: 14px;
    color: #fff;
}
.with-ic li.map::before {
    content: "\f3c5";
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
    position: absolute;
    font-size: 18px;
    width: 18px;
    height: 18px;
    font-style: normal;
    left: 0;
    color: #ee1d27;
}
.with-ic li.clock::before {
    content: "\f017";
    font-family: Font Awesome\ 5 Pro;
    font-weight: 400;
    position: absolute;
    font-size: 18px;
    width: 18px;
    height: 18px;
    font-style: normal;
    left: 0;
    color: #ee1d27;
}
.with-ic li.mail::before {
    content: "\f0e0";
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
    position: absolute;
    font-size: 18px;
    width: 18px;
    height: 18px;
    font-style: normal;
    left: 0;
    color: #ee1d27;
}
.with-ic li.ph::before {
    content: "\f095";
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
    position: absolute;
    font-size: 18px;
    width: 18px;
    height: 18px;
    font-style: normal;
    transform: rotate(102deg);
    left: 0;
    color: #ee1d27;
}
.menu-list li {
    margin: 0 0 15px 0;
}
.rsp-res-blk .dt-blk {
    padding: 0 10px;
}
.so-links li {
    display: inline-flex;
    margin: 0 15px 0 0;
}
.so-links li a {
    display: inline-block;
    color: #ee1d27;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    font-size: 16px;
}
.so-links li a:hover, .so-links li a:focus {
    background: #ee1d27;
    color: #fff;
    border: 1px solid #ee1d27;
    text-decoration: none;
}
.rsp-cont-tab-section {
    padding: 60px 0;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #a2a2a2;
    color: #4d4d4d;
}
.nav-tabs .nav-link {
    border: 1px solid #a2a2a2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #cfcfcf;
    color: #4d4d4d;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    margin-right: 6px;
}
#myTabContent {
    border: 1px solid #a2a2a2;
    border-top: none;
    padding: 15px;
    height: 552px;
}
.rsp-ct-us-img img {
    width: 200px;
    margin: 0 auto;
}
.rsp-ct-us-img {
    text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0px 0 10px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: none;
    border-bottom: 1px solid #ababab;
}
.rsp-pro-det {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.pd-img img {
    width: 90px !important;
}
.pd-desc {
    max-width: calc(100%);
    margin: 0 0 0 15px;
    flex-basis: calc(100%);
}
.rsp-res-blk h6 {
    font-size: 18px;
    margin: 0 0 12px 0;
}
.rsp-res-blk-desc {
    padding: 8px 12px;
}
.rsp-noti-sec {
    padding: 60px 0;
}
.rsp-noti-sec .owl-prev span {
    background-image: url(../img/left.png);
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    position: absolute;
    left: -64px;
    top: 40%;
    background-size: 100%;
    color: transparent;
}
.rsp-noti-sec .owl-next span {
    background-image: url(../img/right.png);
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    right: -64px;
    background-size: 100%;
    color: transparent;
}
.rsp-noti-sec .owl-nav {
    display: block !important;
}
.pd-desc .fas {
    color: #ee1d27;
}
.rsp-nye-desc {
    box-shadow: none;
}
.rsp-nye-desc h6 {
    margin: 0 0 15px 0;
    font-size: 24px;
}
.nye-link-blk {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0 0;
}
.nye-link-blk .so-links li a {
    border: 1px solid #858585;
}
.rsp-nye-desc p {
    margin: 10px 0 0 0;
    line-height: 30px;
}
.rsp-nye-col-sec {
    padding: 60px 0;
}
.rsp-nye-section {
    padding: 60px 0;
}
.rsp-nye-col-sec .btn-rsp {
    padding: 6px 14px;
    font-size: 14px;
}
.pg-btn {
    background-color: #d5d5d5;
    color: #4d4d4d;
}
.pagination {
    justify-content: center;
}
.page-link {
    color: #4d4d4d;
}
.page-link:hover {
    color: #4d4d4d;
}
.re-blk {
    background-color: #f6f6f6;
    padding: 15px;
    height: 1030px;
    overflow-y: auto;
    border: 1px solid #a2a2a2;
}
.rsp-pub-section .rsp-nye-desc {
    box-shadow: none;
    background: transparent;
}
.rsp-pub-section .rsp-nye-img img {
    width: 100%;
}
.rsp-pub-section .rsp-nye-desc p {
    margin: 0;
    line-height: 24px;
}
.rsp-pub-section {
    padding: 60px 0;
}
.rsp-pub-section .nye-link-blk {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 6px 0 0 0;
}
.des-blk {
    background: #e1e1e1;
    padding: 15px;
}
.des-blk ul li {
    display: inline-block;
}
.des-blk ul li a {
    padding: 8px 20px;
    border: 1px solid #333;
    color: #363636;
    border-radius: 4px;
    display: block;
    margin: 4px;
}
.des-blk ul li a:hover { 
    text-decoration: none;
}
.des {
    margin: 31px 0 15px 0;
    font-size: 20px;
}
.input-group-text {
    color: #fff;
    background-color: #ee1d27;
    border: 1px solid #ee1d27;
    border-radius: 0;
}
.main-search {
    border: 1px solid #a2a2a2;
    padding: 0 15px;
}
.conf-blk {
    border: 1px solid #a2a2a2;
    width: 100%;
    float: left;
    padding: 50px;
}
.rsp-conf-section {
    padding: 60px 0;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ababab;
    outline: 0;
    box-shadow: none;
}
.rsp-nye-img img {
    width: 100%;
}
.so-links li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    display: block; border: 2px solid red; color: red; font-size: 17px; text-align: center;
}
.dropdown-item:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-menu{
    min-width: 5rem !important;
    padding: 3px 35% !important;
    margin: 0% !important;
    border-radius: 5px !important;
}
.icon-slider {
    border: 10px solid white;
    border-radius: 150px;
    width: 240px;
    height: 240px;
}
.icon-slider:hover, .icon-slider:focus{
    border: 10px solid #ee1d27
}
.p-hide{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 85px;
}

.pu-3, .regiones-img{
    height: auto;
}
.noticias-img{
    height: 230px;
}
.noticias-p-img{
    height: 388px;
}
.noticias-det, .publicaciones-det{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 130px;
}
.noticias-tit, .publicaciones-tit{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 50px;
}
.publicaciones-img{
    height: 90%;
    border-radius: 10px;
}
.post-img{
    height: 100%;
    border-radius: 10px;
}
.no-4{
    height: 150px;
}

.logo-img{
    width: 421px;
}

.mapouter { position:relative;text-align:right;height:500px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}
.rsp-wrap .mapouter { position:relative;text-align:right;height:595px;width:100%;}
.rsp-wrap .gmap_canvas {overflow:hidden;background:none!important;height:595px;width:100%;}
/* Custom styles */ 
a, a:hover
{
    color: black;
    text-decoration: none; 
    background-color: none;
}
.container-post{
    height: 100%;
}
.re-blk-post{
background-color: #f6f6f6;
padding: 15px;
overflow-y: auto;
border: 1px solid #a2a2a2;
}
@media print {
    header,footer, #articulos-relacionados { 
    display: none; 
    }
    .col-lg-8 {
        flex: 100% !important;
        max-width: 100% !important;
    }
}