<aside class="sidebar">
	<div class="sidebar-header">
		<picture>
			<img class="sidebar-header-logo" src="/img/logo-datos.png" alt="Logo OSNV">
		</picture>
	</div>
	<nav class="sidebar-menu">
		<a href="/consejo-regional/planes-regionales" class="sidebar-menu-item">
			<i class="sidebar-menu-item-icon fas fa-file-alt"></i>
			<span class="sidebar-item-text">Registro de planes regionales</>
		</a>
	</nav>
	<a href="/consejo-regional/logout" class="sidebar-footer">
		<i class="fas fa-sign-out-alt"></i>
		<span>Cerrar sesión</span>
	</a>
</aside>