<section class="rsp-pub-section rsp-wrap">
    <div class="container">
        <!--input search-->
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="input-group mb-3">
                    <input type="text" id="search-input" class="form-control main-search" placeholder="{{t lang "buscar"}}" >
                    <div class="input-group-append">
                        <span id="search-button" class="input-group-text search-input">
                            <i class="fal fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-alert" class="alert alert-danger alert-dismissible fade hide" role="alert">
            {{t lang "no-results"}}
        </div>
        <div class="row mt-5">
             <!--Listado de resultado-->
            <div class="col-lg-8">
                <h3 class="rsp-title ft-bold mb-4">{{t lang "resultados"}}</h3>
                <div class="re-blk">
                    <div id="default">
                        {{#each post}}
                            {{>normas-legales/normas-legales-card-body lang=../lang}}
                        {{/each}}
                    </div>
                    <div id="results-template">
                      <!--Resultados de la búsqueda-->
                    </div>
                </div>
            </div>
            <!--Sidebar-->
            <div class="col-lg-4">
                {{>sidebar-widgets/subscribers lang=lang}}
                <h6 class="des ft-bold">{{t lang "destacados"}}</h6>
                <div class="des-blk">
                    <ul id="sidebar-default">
                        {{> sidebar-widgets/tags}}
                    </ul>
                    <ul id="sidebar-template">
                        <!--Tags cambiados-->
                    </ul>
                </div>
                
            </div>   
        </div>
    </div>
</section>