<!-- nye section -->
<section class="rsp-nye-section rsp-wrap">
    <div class="container">
        <div class="row">
            {{#each post}}
                {{#if @first}}
                    {{> noticias-eventos/noticias-eventos-card-head lang=../lang}}
                    {{else}}
                        {{> noticias-eventos/noticias-eventos-card-body lang=../lang}}
                {{/if}}
            {{/each}}
            <div class="col-12 d-flex justify-content-center ">
                {{#if pagination}}
                    {{> pagination pag=pagination}}
                {{/if}}
            </div>  
        </div>                 
    </div>
</section>
