<!DOCTYPE html> 
<html> 

<head> 
	<title>Death Roads</title> 
	<style type="text/css"> 
		html { 
			overflow: auto; 
		} 
		
		html, 
		body, 
		div, 
		iframe { 
			margin: 0px; 
			padding: 0px; 
			height: 100%; 
			border: none; 
			overflow: hidden;/*Agregado*/
		} 
		
		iframe { 
			display: block; 
			width: 100%; 
			border: none; 
			overflow-y: auto; 
			overflow-x: hidden; 
		} 
	</style> 
</head> 

<body> 
	{{!-- <iframe src='https://extranet.who.int/roadsafety/death-on-the-roads?embed=true#helmets/standard' style='border: 0; width: 100%; height: 700px'></iframe><iframe src='https://extranet.who.int/roadsafety/death-on-the-roads?embed=true#helmets/standard' style='border: 0; width: 100%; height: 700px'></iframe> --}}
	<iframe src='https://extranet.who.int/roadsafety/death-on-the-roads/?embed=true' style='border: 0; width: 100%; height: 700px'></iframe>
	{{!-- <iframe src="https://extranet.who.int/roadsafety/death-on-the-roads/#helmets/standard"
			frameborder="0"
			marginheight="0"
			marginwidth="0"
			width="100%"
			height="100%"
			scrolling="auto"> 
</iframe>  --}}

</body> 

</html> 
