<section class="rsp-wrap mt-5 pt-4">
    <div class="container">
        <div class="jumbotron">
            <div class="texto-newsletter">
                <p class="titulo-newsletter pb-4 text-center">{{t lang 'news-text'}}</p>
            </div>
            <button class="btn btn-rsp btn-block ft-bold boton-newsletter" id="suscriber-button" class="btn" data-toggle="modal" data-target="#suscriber-modal-form"><i class="fas fa-envelope-open-text"></i> {{t lang 'news-button'}}</button>
        </div>
    </div>
</section>