<style>
	.nav-item.nav-special.dropdown .dropdown-menu {
		background-color: #f8f9fa;
	}

	.dropdown-item {
		text-transform: capitalize;
		text-align: left;
		width: 100%;
		color: rgba(0, 0, 0, 0.5);
	}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="nav navbar-nav mr-auto" id="sectionHandler" >

			<li class="nav-item nav-special">
				<a 
					class="nav-link" 
					href="/administrador"
				>
					INICIO
					<span class="sr-only">(current)</span>
				</a>
			</li>

			<li class="nav-item nav-special">
				<a 
					class="nav-link" 
					href="/administrador/footer"
				>
					PIE DE PÁGINA
				</a>
			</li>

			<li class="nav-item nav-special">
				<a 
					class="nav-link" 
					href="/administrador/cifras"
				>
					CIFRAS
				</a>
			</li>

			<li class="nav-item nav-special">
				<a 
					class="nav-link" 
					href="/administrador/regiones"
				>
					REGIONES
				</a>
			</li>

			<li class="nav-item nav-special dropdown">
				<a 
					class="nav-link dropdown-toggle" 
					data-toggle="dropdown" 
					role="button" 
					aria-haspopup="true" 
					aria-expanded="false"
				>
					COMUNICACIONES
				</a>
				<div class="dropdown-menu">
					<a 
						class="dropdown-item" 
						href="/administrador/comunicaciones-eventos"
					>
						Eventos
					</a>
				</div>
			</li>

			<li class="nav-item nav-special">
				<a 
					class="nav-link" 														
					href="/administrador/mision-vision"
				>
					MISION - VISION
				</a>
			</li>

			<li class="nav-item nav-special dropdown">
				<a 
					class="nav-link dropdown-toggle" 
					data-toggle="dropdown" 
					role="button" 
					aria-haspopup="true" 
					aria-expanded="false"
				>
					ANALÍTICA
				</a>
				<div class="dropdown-menu">
					<a 
						class="dropdown-item" 
						href="/administrador/analitica-menu"
					>
						Menú
					</a>
					<a 
						class="dropdown-item" 
						href="/administrador/analitica-submenu"
					>
						Submenú
					</a>
				</div>
			</li>

			<li class="nav-item nav-special">
				<a 
					class="nav-link"  
					href="/administrador/popup" 
					id="menudrop1" 
					role="button" 
				>
					POPUP
				</a>
			</li>

			<li class="nav-item nav-special dropdown">
				<a 
					class="nav-link dropdown-toggle" 
					data-toggle="dropdown" 
					role="button" 
					aria-haspopup="true" 
					aria-expanded="false"
				>
					DATOS ABIERTOS
				</a>
				<div class="dropdown-menu">
					<a 
						class="dropdown-item" 
						href="/administrador/datos-abiertos"
					>
						Datos
					</a>
					<a 
						class="dropdown-item" 
						href="/administrador/datos-abiertos-categorias"
					>
						Categorías
					</a>
					<a 
						class="dropdown-item" 
						href="/administrador/datos-abiertos-tipos"
					>
						Tipos
					</a>
				</div>
			</li>

			<li class="nav-item nav-special dropdown">
				<a 
					class="nav-link dropdown-toggle" 
					data-toggle="dropdown" 
					role="button" 
					aria-haspopup="true" 
					aria-expanded="false"
				>
					GESTIÓN DE USUARIOS
				</a>
				<div class="dropdown-menu">
					<a 
						class="dropdown-item" 
						href="/administrador/gestion-usuarios/usuarios"
					>
						Usuarios
					</a>
					<a 
						class="dropdown-item" 
						href="/administrador/gestion-usuarios/roles"
					>
						Roles
					</a>
				</div>
			</li>
			
		</ul>
	</div>
</nav>